*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.monkey{
    font-size: 110px;
    cursor: pointer;
}
.close{
    display: none;
}
.open{
    display: none;
}
.active{
    display: block;
}